* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background-color: #E5E5E5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.form {
  position: relative;
  display: block;
  width: 640px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 10px;
  padding-right: 60px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.btn_send {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #21DBCD;
  -webkit-box-shadow: 0px 0px 8px rgba(33, 219, 205, 0.71);
  box-shadow: 0px 0px 8px rgba(33, 219, 205, 0.71);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.btn_send:hover {
  cursor: pointer;
  background-color: #1cb8ac;
}

.btn_send:focus {
  outline: none;
}

.btn_send span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #fff;
  width: 3px;
  height: 20px;
  margin-top: -10px;
  margin-left: -1.5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn_send span:first-child,
.btn_send span:last-child {
  margin-left: -4px;
  opacity: 0;
  -webkit-transition: opacity .8s;
  -o-transition: opacity .8s;
  transition: opacity .8s;
}

.btn_send span:nth-child(2) {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn_send span:first-child {
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotateZ(-62deg);
  -ms-transform: rotate(-62deg);
  transform: rotateZ(-62deg);
}

.btn_send span:last-child {
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotateZ(62deg);
  -ms-transform: rotate(62deg);
  transform: rotateZ(62deg);
}

.btn_send.btn_arrow span:first-child,
.btn_send.btn_arrow span:last-child {
  opacity: 1;
}

.btn_send.btn_arrow span:nth-child(2) {
  margin-left: -7px;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
} 
