* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background-color: #E5E5E5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.form {
  position: relative;
  display: block;
  width: 640px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 10px;
  padding-right: 70px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
}

.textarea:focus {
  outline: none;
  border-color: #21DBCD
}

/* Оформление кнопки и ее состояний
   Кнопка абсолютно спозиционирована в блоке 
   Классы CSS для поля ввода никак не влияют на анимацию кнопки */

.btn_send {
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #21DBCD;
  -webkit-box-shadow: 0px 0px 8px rgba(33, 219, 205, 0.71);
  box-shadow: 0px 0px 8px rgba(33, 219, 205, 0.71);
  -webkit-transition: opacity .5s, transform .5s;
  -o-transition: opacity .5s, transform .5s;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  transition: opacity .5s, transform .5s, -webkit-transform .5s;
}

.btn_send:hover {
  cursor: pointer;
  background-color: #1CB7AB;
}

.btn_send:focus {
  outline: none;
}

/* Белые полоски в кнопке, которые анимируются */

.btn_send span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #fff;
  width: 3px;
  height: 20px;
  margin-top: -10px;
  margin-left: -1.5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn_send span:first-child,
.btn_send span:last-child {
  height: 12px;
  opacity: 0;
}

.btn_send span:first-child {
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.btn_send span:last-child {
  margin-top: -2px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

/* Класс анимации .btn_arrow. Добавляется с помощью JS. */

.btn_send.btn_arrow span:first-child,
.btn_send.btn_arrow span:last-child {
  opacity: 1;
}

.btn_send.btn_arrow span:first-child {
  margin-top: -9px;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.btn_send.btn_arrow span:last-child {
  margin-top: -3px;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.btn_send.btn_arrow span:nth-child(2) {
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
